body {
    background-image: url(darkness/darkness.png);
}

#header {
    padding: 20px;
    border: solid 2px lightcoral;
    margin-right: 600px;
    background-color: greenyellow;
}

#instructions {
    padding: 20px;
    border: solid 2px greenyellow;
    margin-right: 600px;
    background-color: lightcoral;
}

p {
    padding: 10px;
}

img {
    height: 100px;
    width: 100px;

}

#game {
    padding: 40px;
    background-color: lightblue;
    margin-right: 600px;
    border: 2px solid orange;
    display: flex;
    flex-wrap: nowrap;
}

#randomNum {
    font-size: 32px;
    padding: 20px;
    text-align: center;
}

#playerTotal {
    text-align: center;
    font-size: 32px;
    padding: 20px;
}

#crystalRow {
    margin-left: 30px;
}

h1 {
    font-size: 60px;
}

#winLossTotal {
    border: 2px solid lightblue;
    text-align: center;
    font-size: 20px;
    margin-right: 600px;
    padding: 20px;
    background-color: orange;
}